:root {
  --site-primary: #005690;
  --site-primary-secondary: RGB(90, 190, 190);
  --site-info: RGB(0, 170, 160); /* info */
  --site-secondary-green: #4caf75;
  --site-secondary-red: #ff5825;
  --site-background: #FAFAFAFF;
  --site-background-secondary: #aec596;
}
