@import url(colors.css);
body {
  font-family: "Inter", "Inter Placeholder", sans-serif !important;
  font-style: normal;
  /* background: linear-gradient(-45deg, #e7e9ed 50%, #e7f7f5); */
  min-height: 100vh;
  overflow-x: hidden;
}
/****************************
Index layout Section - START
*****************************/
.container {
  position: relative;
}

div.content-wrapper {
  padding: 120px 10px;
  position: relative;
}

div.content-wrapper:nth-child(1) {
  margin-top: 160px;
  padding-top: 20px;
  padding-bottom: 30px;
}

div.content-wrapper:nth-child(odd) {
  background: #f4edfd;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.content-img-wrapper {
  z-index: 2;
}

.content-img {
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

div.content-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 99 !important;
}

h2.content-subtitle-header {
  font-size: 24px;
  font-weight: 600;
}

h2.content-subtitle {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0px;
}

h1.content-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.top-rectangle {
  position: absolute;
  top: -50px;
  left: 0px;
  width: 102%;
  height: 100px;
  transform: rotate(2deg);
  background: #f4edfd;
}

.bottom-rectangle {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 102%;
  height: 100px;
  transform: rotate(2deg);
  background: #f4edfd;
}

.just-full-img-wrapper {
  justify-content: center;
  display: flex;
}

.interview-row {
  margin-top: 100px;
  position: relative;
}

.interview-title {
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -1.44px;
}

.interview-subtitle {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
}

.interview-img-row {
  margin-top: 100px;
  position: relative;
}

.interview-img-row img {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(51, 62, 71, 0.145) 0px 0.602187px 3.01094px -1px,
    rgba(51, 62, 71, 0.137) 0px 2.28853px 11.4427px -2px,
    rgba(51, 62, 71, 0.1) 0px 10px 50px;
}

.interview-img-background {
  position: absolute;
  width: 100%;
  height: 650px;
  transform: perspective(1200px) rotate(4deg);
}

.default-height {
  height: 54px;
}

.email-input {
  line-height: 30px;
  height: 54px;
  outline: none;
  appearance: none;
  border: none;
  border-radius: 32px;
  line-height: 1.4em;
  padding-left: 15px;
  background: rgb(235, 236, 237);
  font-family: "Inter Regular", Inter, Inter, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.join-btn {
  margin-left: -15px;
  padding: 15px;
  line-height: 1.4;
  border-radius: 32px !important;
}

.join-btn:hover {
  opacity: 0.8;
}

.cross-line-1 {
  width: 105vw;
  height: 98px;
  background-color: #efe3fc;
  border-radius: 210px;
  flex: none;
  left: calc(857px / 2 - 105vw / 2);
  overflow: hidden;
  position: absolute;
  top: calc(47.59106933019979% - 98px / 2);
  transform: rotate(3deg);
}

.cross-line-2 {
  width: 105vw;
  height: 98px;
  background-color: #efe3fc;
  border-radius: 210px;
  flex: none;
  left: calc(857px / 2 - 105vw / 2);
  overflow: hidden;
  position: absolute;
  top: calc(47.59106933019979% - 98px / 2);
  transform: rotate(-17deg);
}

.mark-title-row {
  margin-top: 100px;
  margin-bottom: 24px;
}

.make-sub-title-row {
  margin-bottom: 32px;
}

.make-sub-title {
  text-align: center;
  font-size: 30px;
}

.make-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 120%;
  text-align: center;
}

.feature-wrapper {
  width: 100%;
}

.feature-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  /* grid-template-rows: 100% 100%;
      grid-template-areas:
      "a b c c"
      "a d e f"; */
}

.feature-wrapper img {
  width: 100%;
  height: 100%;
}

.feature-wrapper .card {
  height: 100%;
}

.feature-item1 {
  grid-row: span 2 / span 2;
}

.feature-item3 {
  grid-column: span 2 / span 2;
}

.feature-row .item-title {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 27px;
  font-weight: 700;
}

.feature-row .item-subtitle {
  font-size: 18px;
  width: 100%;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
}

.feature-img {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  border-radius: 20px;
}

.feature-title-row {
  margin-top: 100px;
  text-align: center;
}

.feature-title {
  font-size: 48px;
  font-weight: 800;
}

.feature-subtitle-row {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.feature-subtitle {
  font-size: 26px;
  font-weight: 400;
}

.feature-decription {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.insight-title-row {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-input-row {
  margin-top: 60px;
  margin-bottom: 120px;
}

.question-title {
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  margin-top: 100px;
}

.question-subtitle {
  text-align: left;
  font-size: 20px;
  margin-top: 12px;
  font-weight: 100;
  margin-bottom: 40px;
  letter-spacing: 0px;
}

.question-item .card-title {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(64, 33, 99);
}

.question-item .card-head.not_select:hover {
  background: #ece1ff;
  cursor: pointer;
}

.question-item .card-body {
  padding: 10px;
}

.question_wrapper {
  margin-top: 100px;
  padding: 120px 20px;
  background: #f4edfd;
}

.question-item {
  background: #f4edfd;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.card {
  letter-spacing: 0px;
}

.progress {
  height: 2px;
  background: #6610f2;
  width: 0%;
}

h1.insight-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 38px;
}

.position_absolute {
  position: absolute;
}

.show-lg {
  display: none;
}

.img_group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

.img_row > img {
  width: 70px;
  height: 70px;
}

.text-black {
  color: #212529;
}

footer {
  padding: 20px 40px;
  border-top: 1px solid #e2e2e2;
  background-color: white;
}
/***************************
  Index layout Section - END
****************************/
/***************************
 Privacy page - START
****************************/
.privacy-head-title {
  color: rgb(26, 26, 26);
  font-family: Inter;
  font-weight: 400;
  font-size: 36px;
  margin-top: 80px;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

h1.main-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 45px;
  margin-bottom: 15px;
}

h2.sub-title {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}

.last-content {
  margin-top: 50px;
  margin-bottom: 100px;
}

.last-content a:hover {
  cursor: pointer;
  color: blue;
}
/************************
 Privacy page - END
*************************/
.site-header {
  padding: 16px 40px 16px 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--site-background);
}
.left-menu {
  display: flex;
  gap: 9px;
  align-items: center;
  color: black;
}
.left-menu svg {
  color: var(--site-primary);
}

.log-img {
  width: 80px;
}
.logo-title {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.72px;
  line-height: 120%;
  margin-bottom: 0px;
}

.middle-menu-wrapper a {
  font-weight: 600;
  color: #000;
  font-family: "Instrument Sans", sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  font-size: 16px;
  line-height: 150%;
}

.middle-menu-wrapper a.active {
  border-bottom: 2px solid;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.middle-menu-wrapper {
  display: flex;
  gap: 56px;
}

.right-menu-wrapper {
  display: flex;
  gap: 10px;
}

.border-radius {
  border-radius: 25px;
}

.ease-in {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s ease-in, transform 0.8s ease-in-out;
}

.animated-ease-in {
  opacity: 1;
  transform: translateY(0%);
}

.slide-in {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in, transform 0.8s ease-in-out;
}

.animated-slide-in {
  opacity: 1;
  transform: translateX(0%);
}

.ease-out {
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
}

.animated-ease-out {
  transform: translateY(0%);
}

.scale {
  opacity: 0;
  width: 302px;
  height: 10px;
  object-fit: none;
  transition: height 0.25s ease;
}

.animated-scale {
  opacity: 1;
  width: 302px;
  object-fit: none;
  height: 92px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.btn-primary {
  color: #fff;
  background-color: var(--site-primary);
  border-color: var(--site-primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--site-primary-secondary);
  border-color: var(--site-primary-secondary);
  opacity: 0.9;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: var(--site-primary);
  border-color: var(--site-primary);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--site-primary);
  border-color: var(--site-primary);
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(190 0 255 / 25%);
}

.btn-outline-primary {
  color: var(--site-primary);
  background-color: transparent;
  background-image: none;
  border-color: var(--site-primary);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  color: var(--site-primary);
  background-color: transparent;
  background-image: none;
  border-color: var(--site-primary);
}

.btn-primary-font {
  font-size: 14px;
  font-weight: 700;
  /* line-height: 120%; */
}

.btn {
  /* padding: 15px; */
  /* height: 36px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-primary:hover {
  opacity: 0.9;
  color: var(--site-primary-secondary);
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loader.gif") center no-repeat #fff;
}

label.error {
  color: red;
}

.side-menu-bar {
  height: calc(100vh - 50px);
  position: fixed;
  left: 0;
  top: 50px;
  width: 50px;
  background: #040b14;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0;
}
.side-menu-bar ul {
  padding: 10px;
}
.side-menu-bar li {
  list-style: none;
  padding-top: 20px;
  text-align: center;
}

.side-menu-bar li a {
  color: white;
}

.side-menu-bar li a.active {
  color: var(--site-primary);
}

.hidden {
  display: none !important;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.z-99 {
  z-index: 99 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.error-body {
  background: linear-gradient(-45deg, #e7e9ed 50%, #e7f7f5);
  height: 100vh;
}

.error-container {
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

div.page-content-wrapper {
  display: flex;
  min-height: calc(100% - 75px);
}

nav.desktop {
  width: 260px;
  background: #5060c0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0;
  padding: 40px 20px 0px 20px;
}

nav.desktop a {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
}

nav.desktop a.active {
  color: #fff;
}

nav.desktop ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.desktop ul li {
  padding: 0 20px;
  border-radius: 12px;
}

nav.desktop ul li:not(:last-child) {
  margin-bottom: 10px;
}

nav.desktop ul li:has(a.active) {
  background-color: var(--site-primary-secondary);
}

nav.desktop ul li:hover {
  background-color: var(--site-primary-secondary);
  cursor: pointer;
}

nav.desktop ul li:hover a:not(a.active) {
  color: rgba(255, 255, 255, 0.75);
}

div.page-wrapper {
  flex-grow: 1;
}

div.page-container-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 720px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 720px) {
  .desktop {
    display: none;
  }
}

/*****************************
        Media Queries  
******************************/
@media (min-width: 1300px) {
  .container {
    width: 1224px;
  }

  .show-lg {
    display: block;
  }

  .feature-wrapper {
    width: 1200px;
  }
  .interview-title {
    font-size: 72px;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .container {
    width: 995px;
  }
  .interview-title {
    font-size: 63px;
  }

  .mark-title {
    font-size: 42px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .interview-title {
    font-size: 54px;
  }

  .mark-title {
    font-size: 42px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .interview-title {
    font-size: 42px;
  }

  .mark-title {
    font-size: 38px;
  }

  .cross-line-1,
  .cross-line-2 {
    display: none;
  }
}

@media (max-width: 576px) {
  .interview-title {
    font-size: 36px;
  }

  .mark-title {
    font-size: 38px;
  }
  .cross-line-1,
  .cross-line-2 {
    display: none;
  }
}

@media (max-width: 992px) {
  .row .col-3 {
    flex: 1 !important;
    max-width: 50%;
  }

  .row .col-6 {
    flex: 1 !important;
    max-width: 100%;
  }
}

.justify-center {
  justify-content: center;
}